---
BasedOnStyle: Chromium
BreakInheritanceList: BeforeComma
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Linux
...
